#liteerp{
    float: left;margin-left: 50px;margin-top: 20px;color: #FFF;font-size: 28px;text-decoration: none;
    font-family: "Microsoft Yahei";
}
#header{
    margin: 0; padding: 0; position: fixed; left: 0px; top: 0px; z-index: 70;
    height: 80px;background-color: #323436;
    width: 100%;
}
#menu { margin: 0; padding: 0; margin-top: 20px; list-style-type: none; z-index: 70;
    height: 50px;float: right;margin-right: 50px;margin-bottom: 20px;
}
#menu li { float: left; margin:  0 10px 0 0; font-size: 14px;}
#menu a { float: left; padding: 10px 20px; background-color: #fff; color: #333; text-decoration: none;}
#menu .active a { color: #fff; background-color: #555;}
.section { text-align: center; font: 50px "Microsoft Yahei"; color: #fff;}
#index-title{
display: none;
}
.index-content{
    padding-left: 10%;
    padding-right: 10%;
}
.index-content div{
    float: left;
}
.index-c-1{
    margin-left: 10%;
    width: 20%;
}
.index-c-1-i{
    width: 100%;
    margin-top: 20px;
}

.index-c-2{
    margin-left: 10%;
    width: 20%;
}
.index-c-3{
    width: 20%;
    margin-left: 10%;
}
.txt-center{
    text-align: center;
    width: 100%;
}
.article-page{
    padding-top: 5%;
}
.article-l{
    float:left;
    margin-left: 20%;
    width: 25%;
    height: 60%;
}
.article-m{
    margin-left: 47%;
    width: 25%;
    height: 60%;
}

.article-r{
    width: 5%;
    margin-left: 72%;
    margin-top: -50px;
}
.article-m-1{
    height: 49%;
}
.article-m-2{
margin-top: 2%;
height: 49%;
}
.article-l p,.article-m-1 p,.article-m-2 p{
    z-index: 100px;
    width:100%;
    height:30px;
    left:-300px;
    overflow:hidden;
    background-color: #333;
    filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;
    font-size: 14px;
    margin-top: -30px;
    line-height: 30px;
}
.a-noclass{
    text-decoration: none;
    color: #FFF;
}
#header-img{
    border-radius: 100px;
}
.about-content{
 padding:0 20%;   
    font-size: 14px;
}
.about-content h4{
font-size: 18px;
}
.about-content a{
    margin: 0 5px;
}


/****新闻列表*/
#content{
    margin-top: 100px;
}
#content-left{
    float: left;
    margin-left: 15%;
    width: 50%;
}
#content-right{
    margin-left: 65%;
    width: 20%;
 
}
#content-left ul{
  list-style-type: none;   
    padding: 0;
}
#content-left ul li{
    margin-top: 5px;margin-bottom: 5px;
}
.news-li{
    color: #000;
}
.news-border{
 
}
.num{
    float: left;
    background-color: #4BBFC3;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
}
.news-txt{
 margin-left: 5px;   
}
.span-time{
 margin-left: 20px;
color: #999;
}

.a-noclass h1{
 color:#000;   
margin: 2px auto;
}
.article-writer,.article-link{
    font-size: 12px;
    color: #999;
    margin: 0 10px;
}
.article-return{
 font-size: 12px;
    color: #999;
}
.article-return a{
    text-decoration: none;
}
.cnzz{
    display: none;
}